<mat-tab-group mat-stretch-tabs >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Polecane">trending_up</mat-icon>
            Polecane
        </ng-template>
 
        <mat-grid-list cols="2" rowHeight="600px" gutterSize="5px">
            <mat-grid-tile>
                    <app-debate-card [debate]="debate"></app-debate-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <app-debate-card [debate]="debate"></app-debate-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <app-debate-card [debate]="debate"></app-debate-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <app-debate-card [debate]="debate"></app-debate-card>
            </mat-grid-tile>
        </mat-grid-list>
        

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Polecane">fiber_new</mat-icon>
            Nowe
        </ng-template>
        Nowe content
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Polecane">whatshot</mat-icon>
            Gorące
        </ng-template>
        Gorące content
    </mat-tab>
</mat-tab-group>
