.sidenav-form {
    min-width: 250px;
}

.sidenav-content {
    margin: 0.4rem;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
    font-size: 32px;
}

.create-debate{
    margin:auto;
}

.app-title{
    color: white;
    text-decoration: none;
}