<h2 style="margin-bottom: 8px;">Tagi</h2>
<span style="display: inline-block; padding-bottom: 0.4rem;">Popularne:</span>
<mat-chip-list>
  <mat-chip
    *ngFor="let tag of popularTags"
    color="primary"
    (click)="addTagAndClear(tag)"
    selected
  >
    {{ tag }}
  </mat-chip>
</mat-chip-list>
<mat-form-field class="w100" style="margin-top: 0.5rem;">
  <mat-chip-list #chipList aria-label="Wybór tagów">
    <mat-chip
      *ngFor="let tag of chosenTags"
      [selectable]="true"
      [removable]="true"
      (removed)="onTagRemoved(tag)"
    >
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Wyszukaj debatę..."
      #tagInput
      [formControl]="tagControl"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="onTagAdded($event)"
    />
  </mat-chip-list>
</mat-form-field>
<button mat-raised-button color="primary" (click)="searchDebateByTags()">Szukaj debat</button>
