.reg-form {
    min-width: 150px;
    max-width: 500px;
    width: 70%;
    margin: auto;
  }

.example-full-width {
    width: 100%;
    text-align: center;
}

.registrationContent {
  margin-top: 5%;
}

.regCard {
  margin: auto;
  width: 40%;
}