.debate-card {
  max-width: 500px;
}

#debate-img {
  width: 500px;
  max-width: 500px;
  height: 281.25px;
  background-color: #cccccc;
  margin: 0 auto 2em auto;
  background-size: cover;
  position: relative;
}

.debate-main-tags {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.debate-description {
  line-height: 1.5;
  font-size: 1.2em;
  overflow: hidden;
  display: inline;
}

.debate-all-tags {
  margin-top: 1em;
  color: rgb(38, 160, 154);
}

.debate-statistics {
  font-size: 1.9em;
  display: inline-block;
  position: relative;
}

.debate-statistics .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.5em;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 1;
}

.debate-statistics:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.debate-statistics-container {
  display: flex;
  justify-content: space-around;
}

.debate-actions {
  color: blue;
}
