.green {
  background-color: rgb(205, 220, 57);
}

.red {
  background-color: rgb(255, 134, 127);//rgb(255, 82, 82);
}

.pull-right {
  justify-content: end;
}

.mat-expansion-panel-header-description > .mat-icon {
    padding: 0 .5em;
}

.p-1 {
    padding: 0 .5em;
}