.content{
    width:60%;
    margin: auto;
    text-align: center;
}

h1{
    margin-top:1em;
    font-size: 3em;
}

.debate-form{
    width: 100%;
    margin-top: 1em;
    font-size: 150%;
}

mat-form-field{
    width:80%;
}

.image-input{
    margin: 1.5em auto;
    label{
        margin: 0.5em;
        display: block;
    }
    span{
        color:red;
        display: block;
        margin-top: 0.5em;
    }
}

img{
    width: 500px;
    max-width: 500px;
    height: 281.25px;
    background-color: #cccccc;
    display: block;
    margin:auto;
}